.card {
}

.cardWrapper {
  background: white;
  width: 375px;
  height: 475px;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.08), 0 15px 12px rgba(0,0,0,0.08);
}

.cardHeader {
  height: 100px;
  display: flex;
}

.cardHeader img {
  border-radius: 50%;
  margin: 10px auto;
}

.cardGrid {
  position: relative;
  left: 7px;
}

.cardGrid img {
  outline: 5px solid;
  box-sizing: border-box;
  object-fit: cover;
}
